<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoListVue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <style>
        .done{
            text-decoration: line-through;
        }
        li{
            font-size: 20px;
        }
    </style>
</head>
<body>
   <div id="root" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">{{title}}({{totalItem}})</h1>
                <form @submit.prevent="addItem">
                    <div class="row mb-3">
                        <div class="col-md-10">
                            <input type="text" class="form-control" v-model="newItem">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" :disabled="newItem.length === 0" class="btn btn-success">Add New</button>
                        </div>                        
                    </div>                    
                </form>
                <ol>
                    <li v-for="(todo,index) in todos">
                        <input type="checkbox" v-model="todo.completed" @click="complete(index)">
                        <span :class="{done : todo.completed}">{{todo.title}}</span>
                        <button v-if="todo.completed" @click="deleteItem(index)" class="btn btn-danger">Delete</button>
                    </li>
                </ol>
            </div>
        </div>
   </div>
</body>
<script>
    var root = new Vue({

        el:"#root",

        data:{
            title: "To Do List",
            newItem: "",
            todos:[]          
        },

        methods:{
            getItem(){
                if (localStorage.getItem('lists'))
                {
                    this.todos = JSON.parse(localStorage.getItem('lists'))
                }
            },
            addItem(){
                let item = { title:this.newItem,completed: false };
                this.todos = [...this.todos,item];
                localStorage.setItem('lists',JSON.stringify(this.todos));
                this.newItem = "";
            },
            deleteItem(index){
                this.todos.splice(index,1);
                localStorage.setItem('lists',JSON.stringify(this.todos));
                this.getItem()
            },
            complete(index){
                if (this.todos[index].completed === false){
                    this.todos[index].completed = true
                }
                else{
                    this.todos[index].completed = false
                }
                localStorage.setItem('lists',JSON.stringify(this.todos));
                this.getItem()
            }
        },

        computed:{
            totalItem(){
                let total = this.todos.filter(function(todo){
                return todo.completed === false
            });
            return total.length
            }           
        },

        created(){
            this.getItem();
    
        }
    })

</script>
</html>